body {
  background-color: coral;
}

.pds {
  display: flex;

  justify-content: space-evenly;
}

.font-specs {
  font-family: "Times New Roman", Times, serif;
  color: #f9dec9;
}

.img-size {
  height: 38vmin;
}

.App {
  text-align: center;
}

.App-pic {
  height: 138vmin;
  pointer-events: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
